[client]
port = 6003
socket = /data2/MySQL5739_6003/data/mysql.sock

[mysql]
no-beep
prompt="\u@M5739 \R:\m:\s [\d]> "
#no-auto-rehash
auto-rehash
default-character-set=utf8

[mysqld]
########basic settings########
server-id=522
port=6003
user = MySQL5739_6003
# bind_address = 0.0.0.0
default_password_lifetime=0
basedir=/data2/MySQL5739_6003/base/
datadir=/data2/MySQL5739_6003/data
socket=/data2/MySQL5739_6003/data/mysql.sock
pid-file=/data2/MySQL5739_6003/data/mysql.pid
character-set-server=utf8
skip-character-set-client-handshake=1
autocommit = 1
# skip_name_resolve = 1
max_connections = 8000
max_connect_errors = 1000
default-storage-engine=INNODB
transaction_isolation = READ-COMMITTED
explicit_defaults_for_timestamp = 1
sort_buffer_size = 4096M
join_buffer_size = 4096M
tmp_table_size = 40960M
max_allowed_packet = 40960M
sql_mode = "STRICT_TRANS_TABLES,NO_ENGINE_SUBSTITUTION,NO_ZERO_DATE,NO_ZERO_IN_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER"
interactive_timeout = 7200
wait_timeout = 7200
read_buffer_size = 4096M
read_rnd_buffer_size = 4096M
query_cache_type = 1
query_cache_size=0
table_open_cache=200000
thread_cache_size=76800
myisam_max_sort_file_size=1G
myisam_sort_buffer_size=4096M
key_buffer_size=496M
read_buffer_size=496M
read_rnd_buffer_size=496M
back_log=1024
#flush_time=0
open_files_limit=65536
table_definition_cache=14000
########log settings########
log-output=FILE
general_log = 0
general_log_file=/data2/MySQL5739_6003/log/mysqldb-general.err
slow_query_log = ON
slow_query_log_file=/data2/MySQL5739_6003/log/mysqldb-query.err
long_query_time=1000
log-error=/data2/MySQL5739_6003/log/mysqldb-error.err
log_queries_not_using_indexes = 1
log_slow_admin_statements = 1
log_slow_slave_statements = 1
log_throttle_queries_not_using_indexes = 10
expire_logs_days = 9
min_examined_row_limit = 100
########innodb settings########
innodb_io_capacity = 400000
innodb_io_capacity_max = 800000
innodb_buffer_pool_size = 12800M
innodb_buffer_pool_instances = 24
innodb_buffer_pool_load_at_startup = 6
innodb_buffer_pool_dump_at_shutdown = 6
innodb_lru_scan_depth = 2000
innodb_lock_wait_timeout = 8
#innodb_flush_method = O_DIRECT
innodb_log_file_size = 4096M
innodb_log_files_in_group = 8
innodb_log_buffer_size = 4096M
innodb_undo_logs = 128
innodb_undo_tablespaces = 3
innodb_undo_log_truncate = 1
innodb_max_undo_log_size = 12G
innodb_flush_neighbors = 1
innodb_purge_threads = 8
innodb_large_prefix = 1
innodb_thread_concurrency = 64
innodb_print_all_deadlocks = 1
innodb_strict_mode = 1
innodb_sort_buffer_size = 1024M
innodb_flush_log_at_trx_commit=1
innodb_autoextend_increment=64
innodb_concurrency_tickets=5000
innodb_old_blocks_time=1000
innodb_open_files=65536
innodb_stats_on_metadata=0
innodb_file_per_table=1   
innodb_checksum_algorithm=0
innodb_data_file_path=ibdata1:200M;ibdata2:200M;ibdata3:200M:autoextend:max:5G
innodb_temp_data_file_path = ibtmp1:200M:autoextend:max:20G
innodb_buffer_pool_dump_pct = 40
innodb_page_cleaners = 4
innodb_purge_rseg_truncate_frequency = 128
binlog_gtid_simple_recovery=1
log_timestamps=system
show_compatibility_56=on
