#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=static --device=ens192 --gateway=172.16.48.1 --ip=172.16.48.206 --nameserver=8.8.8.8 --netmask=255.255.255.0 --noipv6 --activate
network  --hostname=damengx

# Root password
rootpw --iscrypted $6$O8qtgwUSftcX4u5Y$3YaR9vfdzAyh00t1OiezE3fQ9ePKs.2wmX39.z5xZuL8m7fNQT7K45eTuWRfq03Mw/XRPRDWi3gv6z5/MEYGX/
# System services
services --disabled="chronyd"
# System timezone
timezone Asia/Shanghai --isUtc --nontp
user --groups=wheel --name=admin --password=$6$1PLVFB7kfcFkG2pg$YM58S4sfYqex3gQNQqzsdlnKcDfy4cvLo/WLn8Jr21c7GAx1VrVvughduV4XRcYRKeucB0WueoONBNt3uiY251 --iscrypted --uid=1001 --gecos="admin" --gid=1001
# System bootloader configuration
bootloader --location=mbr --boot-drive=sda
# Partition clearing information
clearpart --none --initlabel
# Disk partitioning information
part pv.156 --fstype="lvmpv" --ondisk=sda --size=203775
part /boot --fstype="xfs" --ondisk=sda --size=1024
volgroup centos --pesize=4096 pv.156
logvol swap  --fstype="swap" --size=8064 --name=swap --vgname=centos
logvol /  --fstype="xfs" --size=153600 --name=root --vgname=centos
logvol /home  --fstype="xfs" --size=42104 --name=home --vgname=centos

%packages
@^minimal
@core

%end

%addon com_redhat_kdump --disable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end